<html>
    <head>
        <title>
            Stocks
        </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"> </script> 
        <style>
            table,th,td,hr,input{
            border: 1px solid black;
            border-collapse: collapse;
          }
          thead{
            border: 2px solid black;
            border-collapse: collapse;
          }
          th,td{
              padding:10px;
          }
          table{
              margin-left:15px;
              margin-bottom:15px;
          }
          
        </style>
    </head>
    <body onload="calculate(<%=JSON.stringify(price)%>)">
        <br>
        <center>

            <form action="/" method="GET">
                <button class="btn btn-primary">
                    Back
                </button>
            </form>

            <input type="number" id="number" name="number" placeholder="Group by" required>
            <button class="btn btn-success" onclick="myGraph(<%=JSON.stringify(price)%>)">
                MyGraph
            </button>
            <br>
            <br>
                <input type="text" id="company" name="company" placeholder="Company" required>
                <input type="number" id="g1" name="g1" placeholder="Group by" required>
                <input type="number" id="g2" name="g2" placeholder="Group by" required>
                <button class="btn btn-danger" onclick="combined(<%=JSON.stringify(price)%>)">
                    Combined
                </button>
        </center>
      
     
        <br>
        <div class="row">
            <div class="col-md-1 col-sm-2">
                
            </div>
            <div class="col-md-4 col-sm-8">
                <table>
                    <thead>
                        <tr>
                            <td>
                                Date
                            </td>
                            <td>
                                Price
                            </td>
                            <td>
                                Company
                            </td>
                        </tr>
                    </thead>
                    <% price.forEach(function(item){ %>
                        <tr>
                            <td>
                                <%= item.date %>
                            </td>
                            <td>
                                <%= item.price %>
                            </td>
                            <td>
                                <%= item.company %>
                            </td>
                        </tr>
                    <% }) %>
                </table>
            </div>
        </div>

        <br>
        <br>
        <hr>
        <br>
        <hr>

        <canvas id="myChart" width="900" height="400"></canvas> 
        
        <br>
        <br>
        <hr>
        <br>
        <br>
        <canvas id="myCharts" width="900" height="400"></canvas> 

        <br>
        <br>
        <hr>
        <br>
        <br>
        <canvas id="myChartm" width="900" height="400"></canvas> 

    </body>
    <script type="text/javascript"> 

    function calculate(price){
        var ctx = document.getElementById("myChart"); 
        var i=1;
        var lab=[];
        var datas=[];
        var company=[];
        var companydate=[];
        var companyprice=[];
        price.forEach(function(item){
            company[i]=item.company;
            companydate[i]=item.date;
            companyprice[i]=item.price;
            i=i+1;
        });
        i=1;
        //console.log(company);

        var datasets=[]

        var eachLabel=[];

        lab=[];
        var m=1;
        for(i=1;i<=companydate.length;i++){
            if(lab.includes(companydate[i])){

            }
            else{
                lab[m]=companydate[i];
                m=m+1;
            }
        }
        lab.sort();
        //console.log(lab);

        var k=0;
        var colors=["red","blue","green","purple","black","brown","orange"];
        for(i=1;i<company.length;i=i+1){
            if((company[i]!=company[i+1]) ){
                datas[lab.indexOf(companydate[i])]=companyprice[i];
                var dataFirst = {
                    label: ""+company[i],
                    data: datas,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
                if(k==colors.length){
                    k=0;
                }
                else{
                    k=k+1;
                }
                datasets.push(dataFirst);
                datas=[];
            }
            else{
                datas[lab.indexOf(companydate[i])]=companyprice[i];
            }
        }

        if(company[company.length] == company[company.length-1]){
            datas[companydate[company.length]]=companyprice[company.length];
            if(k==colors.length){
                    k=0;
                }
                else{
                    k=k+1;
                }
                var dataFirst = {
                    label: ""+company[company.length],
                    data: datas,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
                datasets.push(dataFirst);
                datas=[];
        }
       
        else{
            
        }

        //console.log(datasets);

       
    
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: 
            { 
                    labels: lab, 
                    datasets: datasets
            }, 
        });
    }

    function myGraph(price){
        var input=parseInt(document.getElementById("number").value);
        console.log(input);
        alert("Displaying Requested graph for "+input+" days")
        
        var ctxm = document.getElementById("myChartm"); 
        var i=1;
        var lab=[];
        var datas=[];
        var company=[];
        var companydate=[];
        var companyprice=[];
        price.forEach(function(item){
            company[i]=item.company;
            companydate[i]=item.date;
            companyprice[i]=item.price;
            i=i+1;
        });
        i=1;
        //console.log(company);

        var datasets=[]

        var eachLabel=[];

        lab=[];
        var m=1;
        for(i=1;i<=companydate.length;i++){
            if(lab.includes(companydate[i])){

            }
            else{
                lab[m]=companydate[i];
                m=m+1;
            }
        }
        lab.sort();
        //console.log(lab);

        var k=0;
        var colors=["red","blue","green","purple","black","brown","orange"];
        for(i=1;i<company.length;i=i+1){
            if((company[i]!=company[i+1]) ){
                datas[lab.indexOf(companydate[i])]=companyprice[i];
                console.log(datas);
                var inp=input-1;
                var sum=0;
                var dataExtras=[];
                for(var p=0;p<datas.length;p=p+1){
                    sum=sum+datas[p];
                    if(p>=inp){
                        dataExtras[p]=sum/input;
                        sum=sum-datas[p-inp];
                    }
                }
                console.log(dataExtras);
                
                var dataFirst = {
                    label: ""+company[i],
                    data: dataExtras,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
                if(k==colors.length){
                    k=0;
                }
                else{
                    k=k+1;
                }
                datasets.push(dataFirst);
                datas=[];
            }
            else{
                datas[lab.indexOf(companydate[i])]=companyprice[i];
            }
        }

        if(company[company.length] == company[company.length-1]){
            datas[companydate[company.length]]=companyprice[company.length];
            if(k==colors.length){
                    k=0;
                }
                else{
                    k=k+1;
                }
                var inp=input-1;
                var sum=0;
                var dataExtras=[];
                for(var p=0;p<datas.length;p=p+1){
                    sum=sum+datas[p];
                    if(p>=inp){
                        dataExtras[p]=sum/input;
                        sum=sum-datas[p-inp];
                    }
                }
                console.log(dataExtras);
                
                var dataFirst = {
                    label: ""+company[company.length],
                    data: dataExtras,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
                datasets.push(dataFirst);
                datas=[];
        }
       
        else{
            
        }

        console.log(datasets);

       
    
        var myLineChart = new Chart(ctxm, {
            type: 'line',
            data: 
            { 
                    labels: lab, 
                    datasets: datasets
            }, 
        });

    }

    function combined(price){
        alert("Done");
        var g1=parseInt(document.getElementById("g1").value);
        var g2=parseInt(document.getElementById("g2").value);
        var cinput=document.getElementById("company").value;
        cinput=cinput.toUpperCase();
        var ctxs = document.getElementById("myCharts"); 
        var i=1;
        var lab=[];
        var datas=[];
        var company=[];
        var companydate=[];
        var companyprice=[];
        price.forEach(function(item){
            if(!cinput.localeCompare(item.company)){
                company[i]=item.company;
                companydate[i]=item.date;
                companyprice[i]=item.price;
                i=i+1;
            }
        });
        var k=0;
        var colors=["red","blue","green","purple","black","brown","orange"];

        i=1;
        var sum=0;
        var datas=[];
        var dataset=[];
        for(i=1;i<company.length;i++){
            sum=sum+companyprice[i];
            if(i>=g1){
                datas[i]=sum/(parseInt(g1));
                sum=sum-companyprice[i-g1+1];
            }
        }
        console.log(datas);

        var dataFirst = {
                    label: "Group by "+g1,
                    data: datas,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
        k++;
        dataset.push(dataFirst);

        i=1;
        sum=0;
        datas=[];
        for(i=1;i<company.length;i++){
            sum=sum+companyprice[i];
            if(i>=g2){
                datas[i]=sum/(parseInt(g2));
                sum=sum-companyprice[i-g2+1];
            }
        }


        var dataFirst = {
                    label: "Group by "+g2,
                    data: datas,
                    lineTension: 0,
                    fill: false,
                    borderColor: colors[k]
                };
        k++;
        dataset.push(dataFirst);


        var myLineChart = new Chart(ctxs, {
            type: 'line',
            data: 
            { 
                    labels: companydate, 
                    datasets: dataset
            }, 
        });
        
        
    }
    

    </script> 
          
    </body> 
</html>